MBCET Raspberry Pi Workshop/MBCET Raspberry Pi Workshop - Day 3/MULTI_LED.json
[{"id":"fe006c6f.ccc34","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b413f5eb.062788","type":"rpi-gpio out","z":"fe006c6f.ccc34","name":"","pin":"3","set":true,"level":"0","freq":"","out":"out","x":600,"y":300,"wires":[]},{"id":"dc8b1029.a4c1c","type":"rpi-gpio out","z":"fe006c6f.ccc34","name":"","pin":"5","set":true,"level":"0","freq":"","out":"out","x":600,"y":140,"wires":[]},{"id":"6de0660b.838ef8","type":"rpi-gpio out","z":"fe006c6f.ccc34","name":"","pin":"8","set":true,"level":"0","freq":"","out":"out","x":600,"y":220,"wires":[]},{"id":"d686e202.ef693","type":"ui_button","z":"fe006c6f.ccc34","name":"","group":"4899f81a.3a0ec8","order":4,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":170,"y":320,"wires":[["b413f5eb.062788","dc8b1029.a4c1c","6de0660b.838ef8"]]},{"id":"f7aaba60.aa2d18","type":"ui_switch","z":"fe006c6f.ccc34","name":"","label":"RED","tooltip":"","group":"4899f81a.3a0ec8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":140,"wires":[["6de0660b.838ef8"]]},{"id":"19dab6b1.9529a9","type":"ui_switch","z":"fe006c6f.ccc34","name":"","label":"GREEN","tooltip":"","group":"4899f81a.3a0ec8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":180,"wires":[["dc8b1029.a4c1c"]]},{"id":"c303f41.7c7e108","type":"ui_switch","z":"fe006c6f.ccc34","name":"","label":"BLUE","tooltip":"","group":"4899f81a.3a0ec8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":240,"wires":[["b413f5eb.062788"]]},{"id":"4899f81a.3a0ec8","type":"ui_group","z":"","name":"LED ON/OFF","tab":"af3b55a3.3b5908","disp":true,"width":"6","collapse":true},{"id":"af3b55a3.3b5908","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]